@font-face {
    font-family: 'Mada';
    src: url('../public/Mada-Regular.ttf');
  }

*{
    font-family: 'Mada';
  }

:root {
    --primary: #fccb28;
    --secondary: #213343;
    --devider: #ccc;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Updated from place-items to align-items */
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 5px;
    border-radius: 6px;
    border: solid 1px #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.navbar-container button{
    background-color: var(--primary);
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    margin-left:50px ;
    font-weight: 600;
    letter-spacing: 1.14px;
}
.navbar-container img{
    object-fit: contain;
    width: 171px;
    height: 80px;

}


.home-container {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 50px;
  
  }
  
.home-container h1{
    font-size: 3.5rem;
    color: var(--secondary);
    margin: 2px;
  }

.home-container p{
    text-wrap: balance;
    font-size: 1.2rem;
}

.cheat-card{
 margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
    border: solid 1px #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    text-wrap: balance;

}
.card-container{
  display: flex;
  justify-content: space-between;
}
.card-actions-side{
  display: grid;
  gap: 5px;
  width: 20%;
}
.cheat-info{
  display: flex;
  gap: 10px;
}
.cheat-info p{
  font-size: 14px;
  margin-top: 28px;
 
}
.cheat-card h4{
  border: solid 1px #ccc;
  font: 14px;
  padding: 5px;
  border-radius: 6px;
  background-color: var(--secondary);
  color: white;

}