@font-face {
    font-family: 'Mada';
    src: url('../public/Mada-Regular.ttf');
  }

  *{
    font-family: 'Mada';
  }

  :root {
    --primary: #fccb28;
    --secondary: #213343;
    --devider: #ccc;
  }