@font-face {
    font-family: 'Mada';
    src: url('../public/Mada-Regular.ttf');
  }

*{
    font-family: 'Mada';
}

:root {
    --primary: #fccb28;
    --secondary: #213343;
    --devider: #ccc;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Updated from place-items to align-items */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5px;
    border-radius: 6px;
    border: solid 1px #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}


.navbar-container img{
    object-fit: contain;
    width: 171px;
    height: 80px;

}


.home-container {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
  
  }

  .home-container img{
    object-fit: contain;
    width: 700px;
    height: 200px;
  }
/* .home-container h1{
    font-size: 4.5rem;
    color: var(--secondary);
    margin: 2px;
  }
*/
.home-container h4{
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 0;
  color: #ccc;
 
} 

.home-container p{
    text-wrap: balance;
    font-size: 1.2rem;
}

.tabs-home-container{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



.cheat-card{
 margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
    border: solid 1px #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    text-wrap: balance;
    background-color: #ffffff;
   
}
.card-container{
  display: flex;
  justify-content: space-between;
}
.card-actions-side{
  display: grid;
  gap: 5px;
  width: 30%;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
.cheat-info{
  display: flex;
  gap: 10px;
}
.cheat-info p{
  font-size: 14px;
  margin-top: 28px;
 
}
.cheat-card h4{
  border: solid 1px #ccc;
  font: 14px;
  padding: 5px;
  border-radius: 6px;
  background-color: var(--primary);
  color: white;

}

.card-actions-side img{
  object-fit: contain;
  width: 40px;
  height: 40px;


}


.like-button, .dislike-button {
  /* Button styles */
  /* Green for like, you can adjust color */
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  display: inline-block;
  padding-right: 18px;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 8px;
}

.button-content {
  display: flex;
  align-items: center;
}

.button-icon {
  width: 20px; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Add space between the image and text */
}

.post-form-container{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.post-form-container input{
  border:  1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
}

.post-form-container textarea{
  min-height: 130px;
  border:  1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;

}

.post-form-container button{
  background-color: var(--primary);
  padding: 10px;
  border:  1px solid #ccc;
  min-width: 20%;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;

}


.navbar-left{
  display: flex;
  gap: 6px;
  padding: 10px;
  font-size: 17px;
  border: none;
  border-radius: 3px;
  margin-left:50px ;
  font-weight: 600;
  letter-spacing: 1.14px;
  background-position-x: left 10px;
  background-color: var(--primary);
}
.navbar-left:hover{
  background-color: white;
  border: 1px #ccc solid;
}
.navbar-left button{
 
  border: none;
  font-size: 1rem;
  height: 25px;
  background-color: var(--primary);
 
  
}
.navbar-left button:hover{
  background-color: #ffffff;
}
.navbar-left a{
  text-decoration: none;
 letter-spacing: 1.14px;
 font-size: 20px;
  color: black;

}
