.tabs-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 100%;
  }
  
  .tab-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .tab-buttons button {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: transparent; /* No background */
    color: var(--secondary);
    margin-bottom: 20px; /* Text color */

  }
  
  .tab-buttons button.active {
    border-bottom: 3px solid var(--secondary); /* Different color for active tab */
  }
